
<body>
  <h1 >Perfil</h1>
  <ion-card class="title">
    <ion-card-header>
      <ion-card-subtitle>Analista de Sistemas</ion-card-subtitle>
      <ion-card-title>Edisom S. Jumbo</ion-card-title>
    </ion-card-header>
    <img src="../../assets/perfil/perfil.png" height="150px" width="150px"/>
    <ion-card-content>
      
     <p>Estudiante de la carrera de Analisis de Sistemas Informáticos de la 
       Escuela Politecnica Nacional. 
      </p>
    </ion-card-content>
</ion-card>

<ion-card class="content">
  <ion-item class="ion-activated">
    <ion-icon name="call" slot="start"></ion-icon>
    <ion-label>+593 963107510</ion-label>
  </ion-item>

  <ion-item >
    <ion-icon name="location" slot="start"></ion-icon>
    <ion-label>Quto,Ecuador</ion-label>
  </ion-item>

  <ion-item >
    <ion-icon name="mail" slot="start"></ion-icon>
    <ion-label>edisonsjumbo@gmail.com</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="logo-github" slot="start"></ion-icon>
    <ion-label>EdisonStalin</ion-label>
  </ion-item>
</ion-card>

<ion-card class="content">
  <ion-item  >
    <ion-icon name="logo-facebook"></ion-icon>
    <ion-label>Edison Stalin</ion-label>
  </ion-item>

  <ion-item >
    <ion-icon name="logo-instagram"></ion-icon>
    <ion-label>jumboedison</ion-label>
  </ion-item>

</ion-card>


</body>
